h1 {
    text-align: center;
    color: forestgreen;
}
body {
    background-color: black;
}
h2 {
    color: forestgreen;
    text-align: center;
}
img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}